@model MarkIT.Models.Bookmark

<div class="card" style="width: 18rem;">

    @if (ViewContext.RouteData.Values["action"].ToString().Equals("Index"))
    {
        <a href="/Bookmark/Show/@Model.Id" > <img class="card-img-top" src="@Model.ImageLink" alt="Card image cap"></a>
    }
    else
    {
        <a href="@Model.Link" target="_blank"> <img class="card-img-top" src="@Model.ImageLink" alt="Card image cap"></a>
    }
        <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <p class="card-text">@Model.Description</p>
        </div>
    <div class=""
</div>
