@using Microsoft.AspNet.Identity
@model MarkIT.Models.Bookmark

@{
    ViewBag.Title = "Create Bookmark";
}

<h2>@ViewBag.Title</h2>
<br />

@using (Html.BeginForm(actionName: "New", controllerName: "Bookmark"))
{
    // Commented the next line because we already have validation under each textbox individually, i dont think we need  the same messages few rows above
    //actually its useful for debuggin
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    
    @Html.Label("Title", "Bookmark Title")
    <br />
    @Html.TextBox("Title", "", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Description", "Bookmark Description")
    <br />
    @Html.TextArea("Description", null, new { @class = "form-control" })
    @Html.ValidationMessage("Description", "", new { @class = "text-danger" })
    <br /><br />

    @Html.Label("ImageLink", "Image Link")
    <br />
    @Html.TextBox("ImageLink", null, new { @class = "form-control" })
    @Html.ValidationMessage("ImageLink", "", new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Link", "Redirect Link")
    <br />
    @Html.TextBox("Link", null, new { @class = "form-control" })
    @Html.ValidationMessage("Link", "", new { @class = "text-danger" })
    <br /><br />

    @Html.Label("Tags", "Tags")
    <br />
    @Html.TextBox("Tags", null, new { @class = "form-control" })
    @Html.ValidationMessage("Tags", "", new { @class = "text-danger" })
    <br /><br />

    @Html.Hidden("UserId", User.Identity.GetUserId(), new { @class = "form-control" })
    <br />
    <button class="btn btn-sm btn-success" type="submit">Create Bookmark</button>
}