@model MarkIT.Models.Bookmark

<br />
<br />
<div class="panel panel-default">
    <div class="panel-body" style="display: flex">
        <a href="@Model.Link"><img src="@Model.ImageLink" style="float:left; max-width: 500px" /> </a>
       
        <div style="float: right; padding-left: 20px">
            <h1>@Model.Title</h1>
            <h>@Model.Description</h>
            <h4>@Model.Tags</h4>

            <i class="glyphicon glyphicon-user"></i>
            <a href="/User/show/@Model.UserId"><strong> @ViewBag.username</strong></a>
            <br />

            @if (Model.Votes.Count == 1)
            {
                <h6>
                    @Model.Votes.Count vote.
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (ViewBag.Voted == false)
                        {<a class="btn btn-sm" style="background: #f2f2f2 ; color: #404040; font-weight: bold;" href="/Bookmark/Vote/@Model.Id">Vote</a>}
                        else
                        {<a class="btn btn-sm" style="background: #f2f2f2; color: #404040; font-weight: bold;" href="/Bookmark/Unvote/@Model.Id">Unvote</a>}
                    }
                </h6>
            }
            else
            { <h6>
                    @Model.Votes.Count votes.  @if (User.Identity.IsAuthenticated)
                    {
                        if (ViewBag.Voted == false)
                        {<a class="btn btn-sm" style="background: #f2f2f2; color: #404040; font-weight: bold;" href="/Bookmark/Vote/@Model.Id">Vote</a>}
                        else
                        {<a class="btn btn-sm" style="background: #f2f2f2; color: #404040; font-weight: bold;" href="/Bookmark/Unvote/@Model.Id">Unvote</a>}
                    }
                </h6>}
            <br />

            @if (User.Identity.IsAuthenticated)
            {
                if (!ViewBag.saved)
                {
                    <a class="btn btn-danger" style="background: #cc0000;" href="/Bookmark/SaveBookmark/@Model.Id">Save</a>
                }
                else
                {
                    <a class="btn btn-info" disabled>Bookmark saved</a>
                    <a class="btn btn-info" href="/Bookmark/DeleteSavedBookmark/@Model.Id">Delete</a>
                }
            }

            <br />


            @if (@Model.Comments.Count.Equals(0))
            {
                <h6>There are no comments yet!</h6>
            }
            else
            {
                foreach (var comment in Model.Comments)
                {
                    <h5>
                        <i class="glyphicon glyphicon-user"></i>
                        <strong>@comment.UserName.Substring(0, comment.UserName.IndexOf('@'))</strong>

                    </h5>

                    <h6>
                        @comment.Content
                        @if (User.Identity.Name == comment.UserName || User.IsInRole("Administrator"))
                        {
                            <span>
                                <a href="/Bookmark/DeleteComment/@comment.CommentId" style="margin-left: 15px;">Delete</a>
                            </span>
                        }
                    </h6>
                    <br />
                }
            }


            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm(actionName: "AddComment", controllerName: "Bookmark"))
                {
                                     
                    @Html.TextBox("content", "", new { @class = "form-control" }); 
                    
                    @Html.Hidden("BookmarkId", Model.Id, new { @class = "form-control" })

                    <button class="btn btn-sm btn-light" type="submit">Add Comment</button>
                }
            }

            <br />
            @if (ViewBag.afisareButoane == true)
            {
                <a class="btn btn-info" href="/Bookmark/Edit/@Model.Id">Edit</a>
                <a class="btn btn-info" href="/Bookmark/Delete/@Model.Id">Delete</a>
            }
        </div>
    </div>
 </div>  
<br />