@model MarkIT.Models.Bookmark
<br />
<br />
<div class="panel panel-default">
    <div class="panel-body">
        @Html.Partial("BookmarkInfo", @Model)
    </div>
    <a class="btn btn-info">Edit</a>
    <a class="btn btn-info" href="/Bookmark/Delete/@Model.Id">Delete</a>
    <br />
    afisare butoane = @ViewBag.afisareButoane
    <br />
    user id = @Model.UserId
    <br />
    ultilizator curent = @ViewBag.utilizatorCurent
    <br />
    admin = @ViewBag.esteAdmin

    @if (ViewBag.afisareButoane == true && Model.UserId == ViewBag.utilizatorCurent || ViewBag.esteAdmin)
    {
    <div class="panel-footer article-panel-footer">
        <a class="btn btn-info">Edit</a>
        <!-- <a class="btn btn-info" href="/Bookmark/Delete/@Model.Id">Delete Bookmark</a> -->
    </div>
    }
 </div>  
<br />