@model MarkIT.Models.Bookmark
<br />
<br />
<div class="panel panel-default">
    <div class="panel-body" style="display: flex">
        <a href="@Model.Link"><img src="@Model.ImageLink" style="float:left; max-width: 500px" /> </a>
        <div style="float: right; padding-left: 20px">
            <h1>@Model.Title</h1>
            <h>@Model.Description</h>
            <h4>@Model.Tags</h4>

            <i class="glyphicon glyphicon-user"></i>
            <strong> @Model.User.UserName</strong>
            <br />
            @if (Model.Votes.Count == 1)
            {
            <h6>@Model.Votes.Count vote.</h6>
            }
            else
            { <h6>@Model.Votes.Count votes.</h6>}
            <br />

            <br />


            @if (@Model.Comments.Count.Equals(0))
            {
                <h6>There are no comments yet!</h6>
            }
            else
            {
                foreach (var comment in Model.Comments)
                {<h5>@comment.Content</h5>

                <h6> @comment.UserName</h6> <br />
            }
        }

            <br />
            @if (ViewBag.afisareButoane == true)
            {
                <a class="btn btn-info" href="/Bookmark/Edit/@Model.Id">Edit</a>
                <a class="btn btn-info" href="/Bookmark/Delete/@Model.Id">Delete Bookmark</a>
            }
        </div>
    </div>
 </div>  
<br />